extends includes/_base.jade
block content
  .slider
    ul.bxslider
      li
        img(src="../img/pic1.jpg")
      li
        img(src="../img/pic2.jpg")
      li
        img(src="../img/pic3.jpg")   
      li
        img(src="../img/pic4.jpg")
    
