extends includes/_base.jade
block content
  .slider
    .swiper-container.first-slider
      .swiper-wrapper
        .swiper-slide
          .slider-info
              .slider-info__title
                |discover
              .slider-info__text
                |Мир, который вы никогда не видели
          .swiper-slide__img(style="background-image: url(../img/pic1.png)")
        .swiper-slide
          .slider-info
              .slider-info__title
                |discover2
              .slider-info__text
                |Мир, который вы никогда не видели
          .swiper-slide__img(style="background-image: url(../img/pic1.jpg)")
        

      // Add Arrows
      .swiper-button-next
      .swiper-button-prev
  .intro
    .wrapper
      .carousel
        .swiper-container.slider1
          .swiper-wrapper
            .swiper-slide
              .grid
                figure.effect-ming
                  .effect-ming__img(style="background-image: url(../img/car1.png)")
                  
                  figcaption
                    p Парусный спорт в Стокгольме! Тебе понравится это!
                    a(href="#")
            .swiper-slide
              .grid
                figure.effect-ming
                  .effect-ming__img(style="background-image: url(../img/car2.png)")
                  figcaption
                    p Парусный спорт в Стокгольме! Тебе понравится это!
                    a(href="#")

            .swiper-slide
              .grid
                figure.effect-ming
                  .effect-ming__img(style="background-image: url(../img/car3.png)")
                  figcaption
                    p Парусный спорт в Стокгольме! Тебе понравится это!
                    a(href="#")
            .swiper-slide
              .grid
                figure.effect-ming
                  .effect-ming__img(style="background-image: url(http://placehold.it/350x234&text=FooBar4)")
                  figcaption
                    p Парусный спорт в Стокгольме! Тебе понравится это!
                    a(href="#")
            .swiper-slide
              .grid
                figure.effect-ming
                  .effect-ming__img(style="background-image: url(http://placehold.it/350x234&text=FooBar5)")
                  figcaption
                    p Парусный спорт в Стокгольме! Тебе понравится это!
                    a(href="#")
            .swiper-slide
              .grid
                figure.effect-ming
                  .effect-ming__img(style="background-image: url(http://placehold.it/350x234&text=FooBar6)")
                  figcaption
                    p Парусный спорт в Стокгольме! Тебе понравится это!
                    a(href="#")
          .swiper-button-next
          .swiper-button-prev
  
  include includes/_submenu.jade
  .info
   .wrapper
    .article
      .article__title  Travel
      .article__description
        .article__description_brief
            |Новая Зеландия – ни что иное, как миниатюрная проекция нашего земного  шара, крохотные острова в юго-западной части Океании... Это место уже стало культовым среди туристов, бегущих от суеты мегаполисов. Новая Зеландия на своей небольшой территории помещает весь колорит планеты.
        .article__description_full
            |Здесь вы найдете бескрайние пляжи, традиционные деревушки, горные долины и большие города, тесно находящиеся друг с другом.
      .article__button
        a.btn.btn-primary(href="#") Подробнее
    .info__img
      img(src="../img/article.png", alt="alt")
  .news
    .wrapper
      ul.news__list
        .news-title Новости
        li.news__item
          img(src="../img/news1.png", alt="")
          .news__info
            span.date 03.02.2017
            a.news__title(href="#") Новая Зеландия - потерянный рай
        li.news__item
          img(src="../img/news2.png", alt="")
          .news__info
            span.date 03.02.2017
            a.news__title(href="#") Парусный спорт в Стокгольме! Тебе понравится это!
        li.news__item
          img(src="../img/news3.png", alt="")
          .news__info
            span.date 03.02.2017
            a.news__title(href="#") Мирное время в Копенгагене
      .news__button
        a.btn.btn-news(href="#") Все новости
