footer.footer
  .wrapper
    .footer-info
      .social.footer-info__social
          a(href="#" class="social__link  social__link_gray  social__vk")
          a(href="#" class="social__link  social__link_gray  social__fb")
          a(href="#" class="social__link  social__link_gray  social__tw")
          a(href="#" class="social__link  social__link_gray  social__ok")

      .footer-nav
         .footer-column.footer-column1
            p
              a(href="#" class="footer-link") Главная
            p
              a(href="#" class="footer-link") О проекте
            p
              a(href="#" class="footer-link") Туры
         .footer-column.footer-column2
            p
              a(href="#" class="footer-link") Страны
            p
              a(href="#" class="footer-link") Блог
            p
              a(href="#" class="footer-link") Сотрудничество
          .footer-column.footer-column3
            p
              a(href="#" class="footer-link") Контакты
    .about
      .copyright © 2017 Travel
      .addr г. Москва, ст. метро Кузьминки, Волжский бульвар, д.37, корп.1.
      .idpowers
        a(href="http://idpowers.com/")
          img(src="../img/idpowers.svg", alt="idpowers")
