header.header
  .wrapper
    .header-wrap
        .social.header__social
          a(href="#" class="social__link")
           img(src="../img/vk.svg")
          a(href="#" class="social__link")
           img(src="../img/fb.svg")
          a(href="#" class="social__link")
           img(src="../img/tw.png")
          a(href="#" class="social__link")
           img(src="../img/ok.png")
        .logo
          .logo__img
            img(src="../img/logo.png")
          .logo__text Мир, который Вы никогда не видели
        .callback
          .tel-number +7 (495) 397-00-78
          a(href="#callback" class="") Обратный звонок
