header.header
  .wrapper
    .hamburger.hamburger--spin
     .hamburger-box
      .hamburger-inner
    .header-wrap
        .social.header__social
          a(href="#" class="social__link  social__link_yellow  social__vk")
          a(href="#" class="social__link  social__link_yellow  social__fb")
          a(href="#" class="social__link  social__link_yellow  social__tw")
          a(href="#" class="social__link  social__link_yellow  social__ok")
        .logo
          .logo__img
            a(href="#")
             img(src="../img/logo.png")
          .logo__text Мир, который Вы никогда не видели
        .callback
          .tel-number +7 (495) 397-00-78
          a(href="#callback" class="") Обратный звонок