header.header
  .wrapper
   .header-wrap
      a(href="javascript:void(0)" class="icon") 
        .hamburger
          .menui.top-menu             
          .menui.mid-menu
          .menui.bottom-menu
    
        .social.header__social
          a(href="#" class="social__link  social__link_yellow  social__vk")
          a(href="#" class="social__link  social__link_yellow  social__fb")
          a(href="#" class="social__link  social__link_yellow  social__tw")
          a(href="#" class="social__link  social__link_yellow  social__ok")
        .logo
          .logo__img
            a(href="/html")
             img(src="../img/logo.png" class="logo__img_desktop")
             img(src="../img/logo768.png" class="logo__img_tablet")
          .logo__text Мир, который Вы никогда не видели
        .callback
          .tel-number +7 (495) 397-00-78
          a(href="#callback" class="phone") Обратный звонок
          a(href="#callback" class="phone-icon")