nav.nav.menu-mob
  .wrapper
    ul.nav__list.mobilenav
      li.nav__item
        a.link(href="/html") Главная
      li.nav__item
        a.link(href="#") О проекте
      li.nav__item
        a.link(href="#") Туры
      li.nav__item
        a.link(href="#") Страны
      li.nav__item
        a.link(href="#") Блог
      li.nav__item
        a.link(href="#") Сотрудничество
      li.nav__item
        a.link(href="#") Контакты
      li.nav__item
