.menu
  .wrapper
    .submenu
      ul.submenu__list
        li.submenu__item
          a(href="#") Австрия
        li.submenu__item
          a(href="#") Бельгия
        li.submenu__item
          a(href="#") Бразилия
        li.submenu__item
          a(href="#") Венгрия
        li.submenu__item 
          a(href="#") Белоруссия
        li.submenu__item
          a(href="#") Болгария
        li.submenu__item
          a(href="#") Великобритания
        li.submenu__item
          a(href="#") Вьетнам
