.nav {
  .clearfix();
  text-align: center;

  &__list {
    display: flex;
    width: 90%;
    font-size: 0;
  }

  &__item {
    flex-grow: 1;
    align-content: center;
  }

  .link {
    display: inline-block;
    cursor: pointer;
    padding: 20px 0;
    color: #485368;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;

    &:active,
    &:hover,
    &:focus {
      color: #a07762;
    }
  }
}
