.nav {
  .clearfix();


  &__list {
    display: flex;
    padding: 5px;
    font-size: 0;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    margin-right: 13px;
  }

  .link {
    display: inline-block;
    cursor: pointer;
    padding: 15px 0;
    color: #485368;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;

    &:active,
    &:hover,
    &:focus {
      color: #a07762;
    }
  }
}
